.about {
    background-color: var(--dark-bg);
    padding: 80px 0px;
}
.dynamic-skills {
    padding: 50px 0px;
    position: relative;
}
.skill-box {
    opacity: 0%;
    transition-duration: .8s;
    transition-delay: .7s;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.static {
    width: 100px;
    height: 100px;
    background-color: var(--light-bg);
    border-radius: 50% 20%;
    margin: 30px;
    position: relative;
    color: var(--white);
    font-weight: bold;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.static::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: 50% 20%;
    cursor: pointer;
    animation-name: moon;
    animation-duration: 2s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}

@keyframes moon {
    from{
        border-bottom: 25px solid var(--main-blue);
    }
    to{
        border-bottom: 15px solid var(--main-blue);
    }
}

.btn-show {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    z-index: 2;
    background-color: var(--main-blue);
    color: white;
    border-radius: 5px 5px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition-duration: 3s;
    font-size: 25px;
}
.btn-show svg {
    position: absolute;
    color: var(--light);
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;
    animation-name: handClick;
    animation-duration: 1.2s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}
.another-skills {
    padding: 0px;
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    opacity: 0%;
    transition-duration: 1.2s;
    transition-delay: .8s;
}
.another-skills li {
    padding: 5px;
    margin: 10px;
    color: var(--main-blue);
    font-weight: bold;
    cursor: pointer;
}
/* .another-skills li:hover {
    color: ;
} */
.adobe {
    color: var(--gray-light);
    font-weight: bold;
    text-align: center;
    opacity: 0%;
    transition-duration: 1.2s;
    transition-delay: .8s;
}
.appear {
    opacity: 100%;
}
@media(max-width: 471px){
    .btn-show {
        font-size: 16px;
        padding: 5px;
    }
}
@keyframes handClick {
    from{
        bottom: -100px;
    }
    to{
        bottom: -20px;
    }
}