.our-contact{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.our-contact h4{
    color: var(--second-color);
}
.box-contact{
    margin: 10px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

 .social-background {
    background-color: var(--main-color);
    color: white;
    cursor: pointer;
    padding: 10px;
    margin: 5px;
    font-size: 35px;
    transition-duration: .8s;
  }
 .social-background.one:hover {
    background-color: #ffdd40;
    color: black;
  }
 .social-background.two:hover {
    background-color: rgb(29, 155, 240);
    color: white;
  }
  
 .social-background.three:hover {
    background-color: #2da44e;
    color: white;
  }
 .social-background.four:hover {
    background-color: #0a66c2;
    color: white;
  }
  @media(max-width: 320px){
    .our-contact h4 {
      font-size: 16px;
    }
  }