
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
:root{
    --dark-bg: #160a2d;
    --light-bg: #211141;
    --main-blue: #4937f0;
    --second-blue: #653cf0;
    --main-move: #9244f0;
    --second-move: #b35ed3;
    --second-orange: #eeb378;
    --orange-star: #f67f03;
    --white: #ffffff;
    --light: #f1f5f9;
    --gray: #a1a1a1;
    --gray-light: #bdbdbd;
  /* --dark-background: #20232a;
  --main-color: #171a53;
  --second-color: #1c2fc5;
  --blue-light: #83aeff; */
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
