.app-background {
    position: absolute;
    background-image: url("../data/img/landing-back-ground.jpg");
    width: 100%;
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -2;
}
.app-background::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.842);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
}